<h1>Welcome to flights!</h1>

<%= form_tag("", method: "get") do %>
<h2>Search Options</h2>
  <%= label_tag(:departure_airport, "Departing from:") %>
  <%= select_tag(:departure_airport, options_for_select(@departure_options)) %>
  <%= label_tag(:arrival_airport, "Destination:") %>
  <%= select_tag(:arrival_airport, options_for_select(@arrival_options)) %>
  <%= label_tag( :date, "Departure Date:")%>
  <%= date_field_tag( :date  )%>
  <%= label_tag( :passengers, "Number of Passengers:")%>
  <%= select_tag(:passengers, options_for_select([1,2,3,4])) %>
  <%= submit_tag("Search") %>
<% end %>

<h2>Flight Details</h2>
<table>
  <tr>
    <th>Departure Airport</th>
    <th>Arrival Airport</th>
    <th>Departure Date</th>
    <th>Departure Time</th>
    <th>Duration</th>
    <th>Arrival Date</th>
    <th>Arrival Time</th>
  </tr>
  <% @flights.order(:start_datetime).each do |flight|%>
    <tr>
      <td><%= flight.departure_airport.city %></td>
      <td><%= flight.arrival_airport.city %></td>
      <td><%= flight.start_datetime.strftime("%d %b, %Y") %></td>
      <td><%= flight.start_datetime.strftime("%H:%M %p") %></td>
      <td><%= flight.duration.strftime("%H:%M") %></td>
      <td><%= (flight.start_datetime + flight.duration).strftime("%d %b, %Y") %></td>
      <td><%= (flight.start_datetime + flight.duration).strftime("%H:%M") %></td>
    </tr>
  <% end %>

</table>