<h1>Search for Flights</h1>

<%= form_tag("", method: "get", class: "find-flight-form") do %>
    <%= select_tag(:departure_airport, options_for_select(@departure_options, selected: params[:departure_airport]), include_blank: "Origin") %>
    <%= select_tag(:arrival_airport, options_for_select(@arrival_options, selected: params[:arrival_airport]), include_blank: "Destination") %>
     <%= select_tag(:date, options_for_select(@date_options, selected: params[:date]), include_blank: "Date") %>
    <%= select_tag(:passengers, options_for_select([1,2,3,4], selected: params[:passengers]), include_blank: "Passengers") %>
    <%= submit_tag("Search", class: "submit-button") %>
  <% end %>

<% unless params[:passengers].nil? %>
  
  <div class ="container flight-details">
  <h1>Select a flight</h1>
  <h2><%= params[:date]%></h2> <!-- not working -->
    <%= form_tag("/bookings/new", method: "get", class: "flight-select") do %>
    <%= hidden_field_tag(:number_of_passengers, params[:passengers]) %>
    <%@flights.order(:start_datetime).each do |flight|%>
      <div class="flight-container">
        <div class="flight-radio"><%= radio_button_tag(:selected_flight_id, flight.id, class: "flight-selector") %></div>
        <div class="flight-attribute"><%= flight.departure_airport.code %></div>
        <div class="flight-attribute"><%= flight.arrival_airport.code %></div>
        <div class="flight-attribute"><%= flight.start_datetime.strftime("%H:%M") %></div>
        <div class="flight-attribute"><%= (flight.start_datetime + flight.duration).strftime("%H:%M") %></div>
        <div class="flight-attribute flight-duration"><%= flight.duration_formatted %></div>
      </div>
    <%end%>
      <%= submit_tag("Book Flight", class: "submit-button") %>
    <% end %>
    </div>
<% end %>


<%= javascript_pack_tag 'select_flight' %>

