<h1>Welcome to the booking page</h1>



<div class ="container">
<h2>Flight Details</h2>
<div class="selected-flight">
  <div class="selected-date"><%= @flight.start_datetime.strftime("%d %b, %Y") %></div>
  <div class="selected-airports">
    <%= @flight.departure_airport.city %> (<%= @flight.departure_airport.code %>)
    - <%= @flight.arrival_airport.city %> (<%= @flight.arrival_airport.code %>) </div>
  <div class="selected-times"><%= (@flight.start_datetime.strftime("%H:%M")) %> - <%= (@flight.start_datetime + @flight.duration).strftime("%H:%M") %> </div>
   <div class="selected-duration">(<%= @flight.duration_formatted %>)</div>
</div>

<div class ="container">
<%= form_for @booking, :html => {:class => 'flight-select'} do |f| %>
  <%= f.hidden_field :flight_id, value: @flight.id %>

       <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <% i = 0%>
    <%= f.fields_for :passengers do |p_form| %>
      <div>
      <% i += 1%>
      <h2>Passenger <%= "#{i}"%></h2>
      <div class="passenger-fields">
        <%= p_form.text_field(:name, placeholder: "Name") %>
        <%= p_form.text_field(:email, placeholder: "Email Address") %>
      </div>
      </div>
    <% end %>
  <br><br>
  <%= submit_tag("Confirm Booking", class: "submit-button") %>
<% end %>
</div>