<h2 class="minimal-bottom">Your flight has been booked!</h2>

<p>Your flight and passenger details are below.</p>


<h2 class="minimal-bottom">Flight Details</h2>
<div class="flight-details">
  <div class="selected-date"><%= @booking.flight.start_datetime.strftime("%d %b, %Y") %></div>
  <div class="selected-airports">
    <%= @booking.flight.departure_airport.city %> (<%= @booking.flight.departure_airport.code %>)
    - <%= @booking.flight.arrival_airport.city %> (<%= @booking.flight.arrival_airport.code %>) </div>
  <div class="selected-times"><%= (@booking.flight.start_datetime.strftime("%H:%M")) %> - <%= (@booking.flight.start_datetime + @booking.flight.duration).strftime("%H:%M") %> </div>
   <div class="selected-duration">(<%= @booking.flight.duration_formatted %>)</div>
</div>

  <h2 class="minimal-bottom">Passenger Details</h2>
  <table class="flight-details">
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    <% @booking.passengers.each do |passenger|%>
    <tr>
      <td><%= passenger.name %></td>
      <td><%= passenger.email%></td>
    </tr>
    <% end%>
  </table>